<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqz.seata.account.mapper.AccountMapper">
    <update id="increaseAmount">
        update t_account  set amount = (amount + #{amount})  WHERE ACCOUNT_CODE = #{accountCode}
    </update>

    <delete id="deleteByCode">
        delete from t_account WHERE ACCOUNT_CODE = #{accountCode}
    </delete>

    <select id="selectByCode"  resultType="com.tqz.seata.account.po.Account">
        select *  from t_account WHERE ACCOUNT_CODE = #{accountCode}
    </select>

</mapper>